* {
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;


}

body {
    background-color: black;
}

.conteudo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 852px;
    max-width: 1341px;
    margin: 0 auto;
    align-items: center;
    color: white;

}
.conteudo h1 {
    font-size: 57px
}
.conteudo p {
    font-size: 32px;
    font-style: normal
    
}