html {
    height: 100%;
}

body {
    background-color: #302E36;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

/* 2. container principal */
.container-principal {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* estilos do formulario */
.container-formulario {
    background-color: #E0E0E0; 
    color: #333;              
    border-radius: 16px;     
    padding: 30px 40px;
    width: 100%;
    max-width: 350px;       
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.container-formulario h2 {
    text-align: center;
    color: #333;
    font-weight: 600; 
    margin-top: 0;
    margin-bottom: 25px;
}

.campo-formulario {
    margin-bottom: 20px; 
}

.campo-formulario label {
    display: block; 
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

/* 4. desiign dos inputs*/
.campo-formulario input[type="text"],
.campo-formulario select {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    background-color: #C8C8C8; 
    
    box-sizing: border-box; 
    
    color: #333;
    font-size: 14px;
    
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}

.campo-formulario input::placeholder {
    color: #777;
}

/* 5. Ícones */

/* Ícone de Calendário no campo Data */
#data {
    /* SVG do ícone de calendário (cor: #26A69A) */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2326A69A" width="18px" height="18px"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM5 8V6h14v2H5zm2 5h2v2H7zm4 0h2v2h-2zm4 0h2v2h-2z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 40px;
}

/* Seta no campo Categoria */
#categoria {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23555" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 40px;
}

/* salvar */
.botao-salvar {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    background-color: #B0B0B0;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

footer {
    padding: 20px 40px;
    color: #adb5bd;
    font-size: 14px;
}

.rodape-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-topo a {
    color: #adb5bd;
    text-decoration: none;
    margin-right: 15px;
}