* {
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;


}
.blocos {
    height: 920px;
    width: auto;
    
}
body {
    background-color: #27262C;
}
.tabela {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav img {
    height: 37px;
    width: auto;
}
.item1 {
    position: relative;
    left: 40px;
}
.item2 {
    position: relative;
    right: 40px;
}
.item3 {
    position: relative;
    right: 180px;
}
.item4 {
    position: relative;
    right: 300px;
}
.item5 {
    position: relative;
    right: 250px;
}
.item6 {
    position: relative;
    right: 180px;
}
table {
    font-family: "Inter", sans-serif;
    width: 1600px;
    height: 297px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #5B5B5B;
    


}

th,td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

th {

    color: white;
}

.gastos {
    height: 100pxx;
    width: 200px;
    background-color: #B4B4B4;
    border-radius: 20px;
}

.mesGastos {
    display: flex;
    gap: 10px;
}

.anoGastos {
    display: flex;
    gap: 10px;
}





/*grafico */
.graficos {
    display: flex;
    justify-content:space-around;
    position: relative;
    bottom: 300px;
    gap: 50px;
    
}
.grafico1 {
    display: flex;
    justify-content: start;
    margin-left: 20px;
}
.grafico2 {
    display: flex;
    

}